.app__body {
    display: flex;
    margin-bottom: 2em;

    @include media(from tablet) {
        flex-direction: column;
    }
}

.app__body-left {
    width: 40%;
    margin-right: 2em;
}

.app__body-right {
    width: 60%;
}