.container {
  margin: 0 auto;
  max-width: 75em;
  position: relative;
  width: 80em;
  padding: 1em 6em;
  border: 2px solid;
  border-bottom-color: #003030;
  border-right-color: #003030;
  border-left-color: #00d0d0;
  border-top-color: #00d0d0; }
