.header {
  width: 100%;
  border: 2px solid;
  border-bottom-color: $emperor;
  border-right-color: $emperor;
  border-left-color: $alto;
  border-top-color: $alto;
  background-color: $silver;
  margin-bottom: 1em;
}

.header__logo {
  padding: 2em;
  max-height: 9em;
  display: flex;
}

.header__logo-image {
  width: 20em;
  margin: 0 auto;
}
