// Name your color variables with "Name that Color"
// http://chir.ag/projects/name-that-color/

$black:     #000000;
$mineshaft: #333333;
$white:     #ffffff;

$deep-teal: #008080;
$silver: #bfbfbf;
$dark-silver: #c7c7c7;
$grey: #808080;
$emperor: #535353;
$alto: #dbdbdb;
